

.main .top{ height:44px; background:#f2f2f2;line-height:44px; font-size:12px; }
.main .top .left{ float:left;}
.main .top .left li{ float:left;}
.main .top .left li span{ display:inline-block; padding:0px 11px; font-family:consolas;}
.main .top .right{ float:right;}
.main .top .right li{ float:left; padding-right:10px;}
.main .top .right li span{  width:54px; height:18px; color:#fff; background:#e4393c; border-radius:2px;padding:3px; margin-left:7px;}
.main .top .right li i{ display:inline-block; width:17px; height:18px; margin-right:5px; vertical-align:middle;}
.main .top .right li .icon1{ background:url(../images/sprite-gys-im.gif) left top no-repeat; margin-top:-3px;}
.main .top .right li .icon2{ background:url(../images/__sprite1.png) no-repeat left top; margin-top:-3px;}
.main .top .right li .icon3{ background:url(../images/__sprite1.png)  no-repeat -34px 2px; margin-top:-3px;}

.main .warp{ padding-top:10px;}
.main .warp .pic{ float:left;}
.main .warp .pic .banner{ width:450px; height:450px; border:1px solid #eeeeee; font-size:0; position:relative;}
.main .warp .pic .banner i{ width:30px; height:30px; position:absolute; right:0; bottom:0; background:url(../images/__sprite3.png) no-repeat;}
.main .warp .pic .banner span{ width:100px; height:100px; background:#E1E781; opacity:0.3; position:absolute; left:0; top:0; display:none; cursor:move;}
.main .warp .pic .banner .mirror{ width:540px; height:540px; position:absolute; left:450px; top:0px; border:1px solid #eeeeee; overflow:hidden; display:none; z-index:5;}
.main .warp .pic .banner .mirror img{ position:absolute;}
.main .warp .pic_list{ margin:20px 0 18px 0; width:452px; height:58px; position:relative;}
.main .warp .pic_list a{position:absolute;}
.main .warp .pic_list a i{ width:22px; height:32px; display:block; background:url(../images/__sprite3.png) no-repeat;}
.main .warp .pic_list .arrow_prev{ left:0; top:13px;} 
.main .warp .pic_list .arrow_prev i{ background-position:-30px 0;}
.main .warp .pic_list .arrow_next{ right:0; top:13px;} 
.main .warp .pic_list .arrow_next i{ background-position:0 -30px;}
.main .warp .pic_list .pic_items{ width:390px; height:58px; position:absolute; left:31px; top:0; overflow:hidden;}
.main .warp .pic_list .pic_items ul{ width:2000px;}
.main .warp .pic_list .pic_items li{ float:left; margin:0px 10px; width:54px; height:54px; border:2px solid #fff;}
.main .warp .pic_list .pic_items li.ac{border-color:#e53e41;}

.main .warp .pic .preview-info{ width:452px; height:18px; line-height:18px; font-size:12px; font-family:"宋体";}
.main .warp .pic .preview-info .left_btn{ float:left;}
.main .warp .pic .preview-info .left_btn{ margin-right:2px;}
.main .warp .pic .preview-info .left_btn span{ font-style:normal;}
.main .warp .pic .preview-info .left_btn i{ background:url(../images/__sprite3.png) no-repeat; display:inline-block; vertical-align:middle;/* margin-right:5px;*/}
.main .warp .pic .preview-info .left_btn .follow i{ width:14px; height:13px; background-position:-52px -44px;}
.main .warp .pic .preview-info .left_btn .share i{ width:15px; height:14px; background-position:-52px -16px;}
.main .warp .pic .preview-info .left_btn .comp i{ width:15px; height:16px; background-position:-30px -32px;}
.main .warp .pic .preview-info .right_btn{ float:right;}

.main .warp .content{ float:left; padding-left:20px; width:738px;}
.main .warp .content h3{ padding-top:8px; height:30px; line-height:30px; font-size:16px;}
.main .warp .content p{ height:28px; line-height:28px; font-size:12px; font-family:'微软雅黑'; color:#e4393c;}
.main .warp .content .summary{ width:738px; background:url(../images/price-bg.png); padding:4px 0 15px 0; position:relative;}
.main .warp .content .summary dl{ color:#999; font-size:12px; font-family:"微软雅黑";}
.main .warp .content .summary dt{ width:67px; float:left; text-align:center;}
.main .warp .content .summary dd{ padding-left:3px; float:left; width:668px;}
.main .warp .content .summary .summary_price{ height:34px; line-height:34px;}
.main .warp .content .summary .summary_price dd{ font-size:20px; color:#e4393c; vertical-align:bottom; font-family:"Microsoft YaHei"}
.main .warp .content .summary .summary_price dd span{font-size:16px; margin-right:3px;}
.main .warp .content .summary .summary_price dd a{ font-size:12px; color:#005aa0; margin-left:3px;}
.main .warp .content .summary .summary_price dd a:hover{ color:#e4393c;}
.main .warp .content .summary .summary_promotion{ line-height:30px;}
.main .warp .content .summary_promotion li{ line-height:30px; width:588px;}
.main .warp .content .summary_promotion li span{ display:inline-block; padding:0 3px; border:1px solid #e4393c; height:22px; line-height:22px; margin-right:3px; color:#e4393c;}
.main .warp .content .summary_promotion li a:hover{ color:#e4393c;}
.main .warp .content .summary_info{ width:72px; height:34px; border-left:1px solid #e6e6e6; position:absolute; right:10px; top:8px; text-align:center;}
.main .warp .content .summary_info p{ height:16px; line-height:16px; font-size:12px; color:#999;}
.main .warp .content .summary_info a{ height:18px; line-height:18px; font-size:14px; color:#005ea7;}
.main .warp .content .summary_info a:hover{ color:#e4393c;}

.main .warp .content .summary_support{ height:87px; width:738px; padding:5px 0; border-bottom:1px dotted #dfdfdf;}
.main .warp .content .summary_support dl{ line-height:29px; color:#999; font-size:12px; font-family:"微软雅黑";}
.main .warp .content .summary_support dt{ width:67px; float:left; text-align:center;}
.main .warp .content .summary_support dd{ padding-left:3px; float:left; width:668px;}
.main .warp .content .summary_support dd a{ color:#5e69ad; margin:0 8px 0 3px;}
.main .warp .content .summary_support dd a i{ display:inline-block; width:16px; height:16px; background:url(../images/__sprite.png) no-repeat; vertical-align:middle; margin-right:4px;}
.main .warp .content .summary_support dd a .icon1{ background-position:-32px 0;}
.main .warp .content .summary_support dd a .icon2{ background-position:-16px -32px;}
.main .warp .content .summary_support .chosediyu li{ float:left; height:23px; margin:0 5px; color:#666666; line-height:23px;}
.main .warp .content .summary_support .chosediyu .peisong span{display:inline-block;width:15px;height:7px;overflow:hidden;line-height:0px;margin:0px 3px;font-size:16px;}
.main .warp .content .summary_support .chosediyu li ol{ margin-left:-7px;}
.main .warp .content .summary_support .chosediyu ol li{ float:left; color:#646fb0;}
.main .warp .content .summary_support .chosediyu ol li a{ padding:0 10px 0 10px; margin:0; line-height:22px;}
.main .warp .content .summary_support .chosediyu ol li i{ display:inline-block; width:15px; height:7px; overflow:hidden; line-height:0px; margin:0px 3px; font-size:16px;}

.main .warp .content .choose{ width:738px; padding:15px 0; border-bottom:1px dotted #dfdfdf;}
.main .warp .content .choose dl{ height:34px; line-height:34px; color:#999; font-size:12px;/* font-family:"宋体";*/ margin-bottom:7px;}
.main .warp .content .choose dt{ width:67px; float:left; text-align:center;}
.main .warp .content .choose dd{ padding-left:3px; float:left; width:668px;}
.main .warp .content .choose dd a{ float:left; display:block; padding:0 13px; border:1px solid #cccccc; height:32px; margin-right:7px;}
.main .warp .content .choose dd a:hover{ border-color:#e3393c;}
.main .warp .content .choose dd .ac{ border-color:#e3393c;}
.main .warp .content .choose dd em{ display:inline-block; width:16px; height:16px; background:url(../images/__sprite2.png) no-repeat 0 0; vertical-align:middle; cursor:pointer;}
.main .warp .content .choose .choose_color{ height:43px; line-height:43px}
.main .warp .content .choose .choose_color a{ height:41px; background:#f7f7f7; line-height:41px; position:relative; padding-left:48px;}
.main .warp .content .choose .choose_color i{ font-size:0; position:absolute; left:0; top:-19px;}
.main .warp .content .choose .choose_service{ height:30px; line-height:30px; margin-bottom:9px;}
.main .warp .content .choose .choose_service a{ height:28px; line-height:28px; position:relative; padding:0 28px;}
.main .warp .content .choose .choose_service i{ display:block; position:absolute; left:6px; top:6px; width:16px; height:16px;}
.main .warp .content .choose .choose_service .icon1{background:url(../images/567caff5Nc4185618.png) no-repeat;}
.main .warp .content .choose .choose_service .icon2{background:url(../images/567cb046Ncc8f504a.png) no-repeat;}
.main .warp .content .choose .choose_service .icon3{background:url(../images/567cb057N77e247ca.png) no-repeat;}
.main .warp .content .choose .choose_service span{ background:url(../images/service-icon.png) no-repeat -2px -1px; display:block; width:15px; height:10px; position:absolute; right:5px; top:10px;}
.main .warp .content .choose .choose_service a:hover span{ background-position:-2px -38px;}
.main .warp .content .choose .choose_baitiao{ margin-bottom:0px;}

.main .warp .content .choose_btns form{ float:left; padding:15px 0px 18px 10px; position:relative;}
.main .warp .content .choose_btns .number{ display:inline-block; width:33px; height:44px; line-height:44px; text-align:center; border:1px solid #cccccc; border-right:0px;}
.main .warp .content .choose_btns a{ display:inline-block; width:15px; height:22px; border:1px solid #cccccc; line-height:22px; text-align:center; background:#f1f1f1;}
.main .warp .content .choose_btns .add{ position:absolute; left:44px; top:15px;}
.main .warp .content .choose_btns .reduce{ position:absolute; left:44px; top:39px; border-top:none; height:21px;}
.main .warp .content .choose_btns .buyBtn { float:left; width:142px; height:46px; background:#df3033; color:#fff; text-align:center; line-height:46px; margin:15px 0 0 26px;}

.main .warp .content .text{ line-height:23px; margin-bottom:17px;}
.main .warp .content .text dl{ color:#999; font-size:12px; font-family:"微软雅黑";}
.main .warp .content .text dt{ width:67px; float:left; text-align:center;}
.main .warp .content .text dd{ float:left; margin-left:15px; font-size:12px; font-family:"微软雅黑";}
.main .warp .content .text dd a{ color:#005aa0;}
.main .warp .content .text dd a:hover{ color:#e4393c;}

.main .recommand .nav{ height:37px; background:#f7f7f7; border:1px solid #eeeeee; border-bottom-color:#e4393c; line-height:37px;}
.main .recommand .nav .nav_list{ float:left;}
.main .recommand .nav li{ float:left;}
.main .recommand .nav li a{ height:38px; padding:0px 25px; font-size:14px; margin-top:-1px; display:block;}
/*.main .recommand .nav li a:hover{ color:#e4393c;}*/
.main .recommand .nav .ac a{background:#e4393c; color:#fff;}
.main .recommand .nav .more{ float:right; font-size:12px; font-family:Consolas; margin-right:12px;}
.main .recommand .nav .more a:hover{ color:#e4393c;}
.main .recommand .content{ padding:20px 0 38px 0;}
.main .recommand .content p{ height:36px; line-height:18px; font-size:12px; overflow:hidden;}
.main .recommand .content .left{ float:left; height:158px; width:136px; position:relative;}
.main .recommand .content .left i{ width:23px; height:23px; background:url(../images/plus.png) no-repeat; position:absolute; right:0; top:43px;}
.main .recommand .content .mid{ float:left; height:158px; width:898px; position:relative;}
.main .recommand .content .mid_inner{ height:158px; width:720px; margin:0 97px 0 81px; overflow:hidden; position:relative;}
.main .recommand .content .hide{display:none;}
.main .recommand .content ul{ position:absolute; left:0;}
.main .recommand .content li{ float:left; height:158px; margin-right:10px; width:134px;}
.main .recommand .content .mid form{ font-size:12px; font-weight:bolder; color:#e4393c; line-height:18px; height:18px;}
.main .recommand .content .mid form input{ float:left; height:18px; margin-right:6px;}
.main .recommand .content .mid .arrow_prev a{ width:20px; height:70px; background:url(../images/bg.png) no-repeat 0 -94px; display:block; position:absolute; left:30px; top:39px;}
.main .recommand .content .mid .arrow_next a{ width:20px; height:70px; background:url(../images/bg.png) no-repeat 0 0; display:block; position:absolute; right:55px; top:39px;}
.main .recommand .content .mid .equal{ width:23px; height:23px; display:block; background:url(../images/equal.png) no-repeat; position:absolute; right:27px; top:29px;}
.main .recommand .content .right{ width:176px; float:left; padding-top:11px; font-size:12px;}
.main .recommand .content .right p.one{ height:24px; line-height:24px;}
.main .recommand .content .right p.two{ height:38px; line-height:38px;}
.main .recommand .content .right p.two span{ font-size:18px; font-weight:bolder; margin-left:3px; color:#e4393c;}
.main .recommand .content .btn{ font-size:12px; color:#fff; background-color:#df3033; width:80px; height:28px; line-height:28px; text-align:center; cursor:pointer}
