.main .cont .cont_c .cont_c_i{padding:31px 0 0 32px;}
.main .cont .cont_c .cont_c_i ul{overflow: hidden;}
.main .cont .cont_c .cont_c_i ul li{float: left;width:250px;height:200px;padding-right: 60px;}
.main .cont .cont_c .cont_c_i ul li img{width:100%;height:100px;}
.main .cont .cont_c .cont_c_i ul li h3{color:#336600;}
.main .cont .cont_c .cont_c_i ul li p{color:#505050;font-size: 12px;}